<!DOCTYPE html>
<html lang="en"
      layout:decorator="layout/main"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>Main Page | Last News</title>
</head>
<body>

<div layout:fragment="content">

    <div class="container">
        <h1 id="main-title">Last News</h1>
        <br />

        <p>Here you can read the latest news from all around the world.</p>
        <p>Just select a continent in the navigation bar, then choose a country from the map.</p>
        <p>Have a nice reading trip!</p>
    </div>

</div>

</body>
</html>